@import 'base.css';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.view-title {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
}

.view-subtitle {
    font-size: var(--font-base);
    color: var(--p-surface-500);
    line-height: 1.25rem;
    margin-top: 0.25rem;
}

.tag-font {
  font-size: var(--font-sm) !important;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 0.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.inline-group {
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
}

.dialog-footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.75rem;
    padding-top: 1rem;
}
